@import url('https://fonts.googleapis.com/css?family=Eczar');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    margin: 0 0 150px 0;
}

a {
    text-decoration: none;
    color: black;
}

/* Header */
header {
    border-top: 6px solid #4894FF;
    position: fixed;
}

/* Main section */
section.container {
    display: flex;
    flex-flow: row wrap;
}

.list {
    margin-top: 150px;
    margin-left: 94px;
    width: 730px;
}

.list .post {
    margin-bottom: 46px;
}

.list  h1 {
    font-size: 38.5;
    font-family: 'Eczar', serif;
    line-height: 52px;
    font-weight: 400;
    display: inline;
    margin-bottom: 78px;
}

.list .source {
    margin-left: 20px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

article {
    margin-top: 150px;
    margin-left: 94px;
    width: 768px;
    order: 1;
}

article h1 {
    font-size: 38.5;
    font-family: 'Eczar', serif;
    line-height: 52px;
    font-weight: 400;
    margin-bottom: 78px;
}

article p {
    font-family: 'Georgia', sans-serif;
    line-height: 27px;
    font-size: 18px;
    color: #333333;
}

/* Footer */
footer {
    height: 250px;
    position: fixed;
    width: 100%;
    bottom: -1px;
    padding-left: 94px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 76%);
}

footer span.author {
    bottom: 32px;
    position: absolute;
}

footer span.creator {
    position: absolute;
    right: 50px;
    bottom: 32px;
    color: #8B8B8B;
}

footer .creator a {
    color: #8b8b8b;
}

footer a:hover {
    font-weight: bold;
}

/* Aside bar */
aside {
    height: 100px;
    order: 2;
    width: 26px;
    margin: 40px 30px 40px auto;
    position: fixed;
    right: 0;
}

aside .top {
    background-image: url('images/top.svg');
    background-size: 25px;
}

aside .menu {
    background-image: url('images/menu.svg');
    background-size: 67px;
}

aside .top, aside .menu {
    height: 62px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.toggle-menu {
    background-position-x: -41px;
    width: 26px;
}

/* Media Queries */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .list {
        margin-left: 50px !important;
    }

    aside {
        width: 50px;
    }

    aside .top {
        background-size: 45px;
    }

    aside .menu {
        background-size: 113px;
    }

    footer {
        padding-left: 50px;
        font-size: 28px;
    }

    article {
        margin-left: 50px;
    }

    article h1 {
        font-size: 61.5px;
        line-height: 70px;
    }

    article p {
        line-height: 52px;
        font-size: 35px;
    }

    .list h1 {
        font-size: 61.5px;
        line-height: 70px;
    }

    .list .source {
        font-size: 18px;
    }

}